
ComputerStore-web/.config/dotnet-tools.json
ComputerStore-web/bin
ComputerStore-web/obj
ComputerStore-web/*proj.user
ComputerStore-web/.directory
ComputerStore-web/.vs
ComputerStore-web/.vscode
ComputerStore-web/.config/dotnet-tools.json
ComputerStore-web/wwwroot/cheque
ComputerStore-web/wwwroot/img
ComputerStore-web/Properties

ComputerStore-admin/bin
ComputerStore-admin/obj
ComputerStore-admin/*proj.user
ComputerStore-admin/.directory
ComputerStore-admin/.vs
ComputerStore-admin/.vscode
ComputerStore-admin/.config/dotnet-tools.json
ComputerStore-admin/wwwroot/cheque
ComputerStore-admin/wwwroot/img
ComputerStore-admin/Properties