@model IEnumerable<ComputerStoreAdmin.Models.Store.DeficitItem>

@{
    ViewData["Title"] = "Deficit";
}

<div class="full-width center-align">
    <h2>Заканчивающиеся детали</h2>
</div>

@if (ViewBag.List != null)
{
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Название</th>
                <th>Количество</th>
            </tr>
        </thead>
        <tbody>
            @foreach (DeficitItem item in ViewBag.List)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Count
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
